# Editor directories and files
.idea
.vscode

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist

iconfont.js

# playground
playground


# local env files
*.local

*.txt

# env
.env
