@use 'sass:map';


@use 'common/var' as *;
@use 'mixins/button' as *;
@use 'mixins/mixins' as *;


// 配置组件变量，sass var 转 css var的操作 => --ki-button-bg-color
@include b(button) {
  @include set-component-css-var('button', $button);
}


// 组件应用样式，.ki-button {...}
@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: map.get($input-height, 'default');
  white-space: nowrap;
  cursor: pointer;
  color: getCssVar('button', 'text-color');
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: getCssVar('button', 'font-weight');
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: getCssVar('button', 'bg-color');
  border: getCssVar('border');
  border-color: getCssVar('button', 'border-color');
  border-radius: getCssVar('border-radius','base');
  font-size: getCssVar('font-size', 'base');
  padding: getCssVar('padding','small') getCssVar('padding');
  margin:getCssVar('margin');

  & > span {
    display: inline-flex;
    align-items: center;
  }


  // border 类型
  @include when(round) {
    border-radius: getCssVar('border-radius', 'round');
  }

  @include when(circle) {
    height: map.get($input-height, 'default');
    width: map.get($input-height, 'default');
    border-radius: 50%;
  }


  @include when(active) {
    color: getCssVar('button', 'active', 'text-color');
    border-color: getCssVar('button', 'active', 'border-color');
    background-color: getCssVar('button', 'active', 'bg-color');
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      background-image: none;
      color: map.get($button-disabled-text-color,'default');
      background-color: map.get($button-disabled-bg-color,'default');
      border-color: getCssVar('button', 'disabled', 'border-color');
    }
  }
  

  // 设置不同场景下的button的color var
  @each $type in (primary) {
    @include m($type) {
        background-color: getCssVar('color',$type);
        color: getCssVar('color','white');

        @include when(disabled) {
          &,
          &:hover,
          &:focus {
            color: map.get($button-disabled-text-color,$type);
            cursor: not-allowed;
            background-color: map.get($button-disabled-bg-color,$type);
          }
        }
    }
  }

}

