@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(checkbox) {
    @include set-component-css-var('checkbox', $checkbox);
  }

@include b(checkbox) {
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    outline: none;
    gap: 4px;
    vertical-align: middle;
    line-height: 20px;
    
    @include e(input) {
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-flex;
        align-items: center;
        position: relative;
        vertical-align: middle;


        &:hover {
            .#{$namespace}-checkbox__inner {
                border-color: getCssVar('checkbox-input-border-color-hover');
            }
        }
    
        // 多选框选中
        @include when(checked) {
            
            @include e(inner) {
                // check button
                background-color: getCssVar('checkbox-checked-bg-color');
                border-color: getCssVar('checkbox-checked-input-border-color');

                &::after {
                    transform: rotate(45deg) scaleY(1);
                }

                // toggle button
                @include when(toggle) {
                    background-color: #e1e1e1;
                    
                    &::after {
                        transform: translate(calc(map.get($checkbox-track-width, 'default') - 4px - 50%),-50%);
                        background-color: black;
                    }
                }
            }

            
        }


        @include when(disabled) {

            @include e(original) {
                cursor: not-allowed;
            }

            @include when(checked) {
                @include e(inner) {
                    border-color:getCssVar('color','primary','light-5'); ;
                    background-color: getCssVar('color','primary','light-5');

                    @include when(toggle) {
                        background-color: #eee;

                        &::after {
                            background-color: getCssVar('color','primary','light-5');
                        }
                    }
                }
            }
        }
    
    }

    // 原生input不可见
    @include e(original) {
        opacity: 0;
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        cursor: pointer;
    }

    // 多选框按钮
    @include e(inner) {
        // box-sizing: border-box;
        appearance: none;
        
        width: map.get($checkbox-font-size,'default');
        height: map.get($checkbox-font-size,'default');
        position: relative;
      
        border:  getCssVar('checkbox-input-border');
        border-color:  getCssVar('checkbox-input-border-color');
        transition: 0.2s all linear;
        position: relative;
        // 点击穿透
        pointer-events: none;
        vertical-align: middle;

        font-size: getCssVar('checkbox-font-size','default');

        // check button
        &::after {
            // border 绘制icon
            box-sizing: content-box;
            content: '';
            position: absolute;
            inset: map.get($checkbox-inset, 'default');
            border:  getCssVar('checkbox-input-border');
            border-color:  getCssVar('checkbox-checked-icon-color');
            border-left: 0;
            border-top: 0;
            height: map.get($checkbox-icon-height, 'default');
            width: map.get($checkbox-icon-width, 'default');
            transform: rotate(45deg) scaleY(0);
            transition: transform 0.15s ease-in 0.05s;
            transform-origin: center;
            
        }

        // toggle button
        @include when(toggle) {
            width: map.get($checkbox-track-width,'default');
            height: map.get($checkbox-track-height,'default');
            background-color: #eeeeee;
            border: none;
            border-radius: map.get($checkbox-track-radius,'default');
            margin-right: 4px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translate(-50%,-50%);
                height: map.get($checkbox-toggle-radius,'default');
                width: map.get($checkbox-toggle-radius,'default');
                border: none;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;

            }
        }
    }

    

    @include e(label) {
        cursor: pointer;
        font-size: map.get($checkbox-font-size,'default');
        vertical-align: middle;
        color: getCssVar('checkbox-text-color');
        font-weight: getCssVar('checkbox-font-weight');
    }

    @include when(disabled) {
        @include e(label) {
            cursor: not-allowed;
            color: getCssVar('disabled-text-color');
        }
    }

    @each $size in(large, small) {
        @include m($size) {

            @include e(inner) {
                width: map.get($checkbox-font-size, $size);
                height: map.get($checkbox-font-size, $size);

                &::after {
                    inset: map.get($checkbox-inset, 'default');
                    height: map.get($checkbox-icon-height, $size);
                    width: map.get($checkbox-icon-width, $size);
                }

                @include when(toggle) {
                    width: map.get($checkbox-track-width, $size);
                    height: map.get($checkbox-track-height, $size);

                    &::after {
                        width: map.get($checkbox-toggle-radius,$size);
                        height: map.get($checkbox-toggle-radius,$size);
                    }
                }
            }


            @include when(checked) {
                @include e(inner) {
                    @include when(toggle) {
                        
                        &::after {
                            transform: translate(calc(map.get($checkbox-track-width, $size) - 4px - 50%),-50%) !important;
                        }
                    }
                }
            }

            @include e(label) {
                font-size: map.get($checkbox-font-size,$size);
            }

        }
    }

}