@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(checkbox) {
    @include set-component-css-var('checkbox', $checkbox);
  }

@include b(checkbox) {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    outline: none;
    gap: 4px;
    vertical-align: middle;
    line-height: getCssVar('checkbox-input-height');

    
    @include e(input) {
        width: getCssVar('checkbox-input-width');
        height: getCssVar('checkbox-input-height');
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-flex;
        align-items: center;
        position: relative;
    
        // 多选框选中
        @include when(checked) {
            
            @include e(inner) {
                // 调整背景颜色为#000
                background-color: getCssVar('checkbox-checked-bg-color');
                border-color: getCssVar('checkbox-checked-input-border-color');

                &::after {
                    transform: rotate(45deg) scaleY(1);
                }
            }
        }
    
    }

    // 原生input不可见
    @include e(original) {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        cursor: pointer;
    }

    // 多选框按钮
    @include e(inner) {
        box-sizing: border-box;
        appearance: none;
        width: getCssVar('checkbox-input-width');
        height: getCssVar('checkbox-input-height');
        position: relative;
      
        border:  getCssVar('checkbox-input-border');
        border-color:  getCssVar('checkbox-input-border-color');
        transition: 0.2s all linear;
        position: relative;

        &:hover {
            border-color: getCssVar('checkbox-input-border-color-hover');
        }
    
        &::after {
            // border 绘制icon
            box-sizing: content-box;
            content: '';
            position: absolute;
            top: 1px;
            left: 4px;
            border:  getCssVar('checkbox-input-border');
            border-color:  getCssVar('checkbox-checked-icon-color');
            border-left: 0;
            border-top: 0;
            height: 7px;
            width: 3px;
            transform: rotate(45deg) scaleY(0);
            transition: transform 0.15s ease-in 0.05s;
            transform-origin: center;
        }
    }

    @include e(label) {
        cursor: pointer;
        vertical-align: middle;
        color: getCssVar('checkbox-text-color');
        font-weight: getCssVar('checkbox-font-weight');
    }

}