@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


/* transition config */
.#{$namespace}-popover-fade {
    &-enter-active,
    &-leave-active {
      transition: opacity 0.5s ease;
    }
  
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
}


@include b(message) {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99;

    @include e(content) {

    }

}
