@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(popover) {
    position: absolute;
    z-index: 200;
    background-color: getCssVar('color','white');
    border-radius: getCssVar('border-radius','base');
    border: 1px solid getCssVar('border-color','light');
    color: getCssVar('color','black');
    min-width: 32px;
    line-height: 20px;
    padding: map.get($popover-padding, 'default');
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
    word-wrap: break-word;
    font-size: map.get($popover-font-size, 'default');


    // .ki-popover .ki-popover__arrow
    @include e((arrow)) {
        position: absolute;
        inset: 50% auto auto 50%;
        z-index: getCssVar('index','bottom');

        // 方便定位不采用三角形,而是正方形四个角都能用
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            // 注意转换顺序
            transform: translate(-50%,-50%) rotate(45deg) ;
            background: getCssVar('color','white');
            box-sizing: border-box;
            // border-top: 1px solid getCssVar('border-color','light');
            // border-left: 1px solid getCssVar('border-color','light');
            border: 1px solid getCssVar('border-color','light');
            
            z-index: getCssVar('index','bottom');
        }
    }

    @each $size in(large, small) {
        @include m($size) {
            font-size: map.get($popover-font-size, $size);
            padding: map.get($popover-padding, $size);
        }
    }
}


