@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(radio) {
    @include set-component-css-var('radio', $radio);
  }

@include b(radio) {
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    outline: none;
    gap: 4px;
    vertical-align: middle;

    
    @include e(input) {
        width: map.get($radio-font-size,'default');
        height: map.get($radio-font-size,'default');
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-flex;
        position: relative;

        
        &:hover {
            .#{$namespace}-radio__inner {
                border-color: getCssVar('radio-input-border-color-hover');
            }
        }

        // 单选按钮选中
        @include when(checked) {
            
            @include e(inner) {
                border: map.get($radio-checked-border, 'default') getCssVar('color','primary');
            }
        }

        @include when(disabled) {

            @include e(original) {
                cursor: not-allowed;
            }

            @include when(checked) {
                @include e(inner) {
                    border-color: getCssVar('color','primary','light-5');
                }
            }
        
        }
    
    }

    // 原生input不可见
    @include e(original) {
        opacity: 0;
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        cursor: pointer;

    }

    // 单选按钮
    @include e(inner) {
        box-sizing: border-box;
        appearance: none;
        width: map.get($radio-font-size,'default');
        height: map.get($radio-font-size,'default');
        position: relative;
        border-radius: 50%;
      
        border:  getCssVar('radio-input-border');
        border-color:  getCssVar('radio-input-border-color');
        transition: 0.2s all linear;
        position: relative;
        // 点击穿透
        pointer-events: none;
    }

    
    @include e(label) {
        cursor: pointer;
        vertical-align: middle;
        color: getCssVar('radio-text-color');
        font-weight: getCssVar('radio-font-weight');
    }

    @include when(disabled) {
        @include e(label) {
            cursor: not-allowed;
            color: getCssVar('disabled-text-color');
        }
    }


    @each $size in(large, small) {
        &.#{$namespace}-radio--#{$size} {

            @include e(input) {
                width: map.get($radio-font-size, $size);
                height: map.get($radio-font-size, $size);
            }            

            @include e(inner) {
                width: map.get($radio-font-size, $size);
                height: map.get($radio-font-size, $size);
            }

            @include when(checked) {
                @include e(inner) {
                    border: map.get($radio-checked-border, $size) getCssVar('color','primary');
                }
            }

            @include e(label) {
                font-size: map.get($radio-font-size,$size);
            }

        }
    }

}