
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(scrollbar) {
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 0 getCssVar('padding','large');
    margin: 8px 0;

    // scrollbar 样式
    @include scroll-bar;

    @include e(wrap) {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 100%;
    }
}