
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(select) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: getCssVar('border-radius','large');
    background-color: #eeeeee;
    color: #797979;
    padding: getCssVar('padding') 16px;

    cursor: pointer;

    @include when(disabled) {
        cursor: not-allowed;
        // background-color: #f6f6f6;
        background-color: getCssVar('disabled','bg-color');
        color: getCssVar('disabled','text-color') !important;
    }

    @include when(selected) {
        color: #000;
    }

    @include e(label) {
        line-height: getCssVar('common-component-size');
    }

    @include e(icon-arrow) {
        transition: all 0.5s ease;
        transform: none;
        z-index: 1;
        margin-left: 8px;
    }

    @include when(unfold) {
        @include e(icon-arrow) {
            transform: rotateZ(-180deg);
        }
    }
    

    @each $size in(large, small) {
        @include m($size) {
            padding: getCssVar('padding', $size) 16px;

            @include e(label) {
                line-height: getCssVar('common-component-size', $size);
            }

        }
    }



}

