@import url('./iconfont.css');
@import url('./prism.css');
@import url('./var.css');


* {
    box-sizing: border-box;
}

body {
    min-width: 0;
}


a {
    text-decoration-line: none !important;
}

.VPSidebarItem .has-active {
    font-weight: 700 !important;
}