/* Color base */
:root {
    --vp-c-white: #ffffff;
    --vp-c-black: #000000;

    --vp-c-black-light: #202020;
    --vp-c-black-lighter: #333333;

    --vp-c-text-light-1: #484852;
    --vp-c-text-light-2: #3c3c43bf;
    --vp-c-text-light-3: #3c3c4354;
  
    --vp-c-text-dark-1: #eeeee3db;
    --vp-c-text-dark-2: #ebebf599;
    --vp-c-text-dark-3: #ebebf561;
}


/* Colors Theme */
:root {
    --vp-c-bg: #ffffff;
    --vp-c-bg-soft: #ebebeb;
    --vp-c-bg-soft-up: #f7f7f7;
    --vp-c-bg-soft-down: #cecece;

    --vp-c-brand: #000000;

}

.dark {
    --vp-c-bg: #343436;
    --vp-c-bg-soft: #252529;


    --vp-c-brand: var(--vp-c-white);

    --vp-c-black-light: #161616;
    --vp-c-black-lighter: #333333;
}




/* Home Page */
:root {
    --vp-home-hero-name-color: var(--vp-c-brand);

}

/* brand button */
:root {
    

    --vp-button-brand-border: none;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-black);

    --vp-button-brand-hover-border: none;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg:  var(--vp-c-black-light);

    --vp-button-alt-bg: var();
    
}

.dark {
    --vp-button-alt-bg: var(--vp-c-mute);
}




/* Header Anchor */
:root {
    --vp-header-anchor-symbol: '🔗';
}


/* Code block */
:root {
    --vp-code-block-bg: #eeeeee;
    --vp-code-block-color: #333333;
}

.dark {
    --vp-code-block-bg: #161618;
}
